Sample app/TableViewPrototype.xcodeproj/xcuserdata
Sample app/TableViewPrototype.xcodeproj/project.xcworkspace/*
Tests/Tests.xcodeproj/project.xcworkspace/*
TableViewPrototype.xccheckout
.DS_Store
.AppleDouble
.LSOverride

Icon


._*
